/* 
--------------------------------------------- 
아작스, 적응형
---------------------------------------------
*/

/* reset */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    padding:0;
    margin:0;
    color:black;
    list-style:none;
    text-decoration:none;
    box-sizing:border-box;
    border:0;
    background-color:transparent;
    font-size:16px;
    font-weight:600;
    font-family: 'Noto Sans KR', sans-serif;
    word-break: break-all;
}

button {
    cursor: pointer;
}

/* Content Style */
.all-wrapper {
    display:block;
    position:relative;
    width: 100%;
    // background: #ddd;
    // max-width: 375px;
    margin: 0 auto;
    padding:20px;
}

.qBox {

}

.answerBox {
    display:flex;
    flex-direction:column;
    position:relative;

    .answerList {
        display:block;
        position:relative;
        padding:14px 24px;
        border-radius:12px;
        border:1px solid #000;
        background-color:#fff;
        text-align:left;

        + .answerList {
            margin-top:16px;
        }
    }
}

/* Component */
.btn-wrap {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px;
    box-shadow: 0px 0px 26px 12px #fff;
    background-color:#fff;

    .btn-row {
        display:flex;
        flex-direction:row;
        align-items:center;
        position:relative;

        > .btn {
            display:block;
            flex:1;
        }
    }
}

.btn {
    padding:16px;
    border-radius:16px;
    background-color:#000;

    > .btn-text {
        display:block;
        color:#fff;
    }
}