@charset "UTF-8";
/* 
--------------------------------------------- 
아작스, 적응형
---------------------------------------------
*/
/* reset */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  color: black;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  border: 0;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  font-family: "Noto Sans KR", sans-serif;
  word-break: break-all;
}

body {
  background-color: #e4e4e4;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}

.clr-white {
  color: #fff !important;
}

.scrll_wrap {
  overflow-y: auto;
}

.img_wrap {
  display: block;
  width: 100%;
  position: relative;
}
.img_wrap .list-type03 {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.test-tit {
  padding-top: 40px;
  font-size: 24px;
  text-align: center;
}

/* Content Style */
#qna {
  display: none;
}

#result {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.all-wrapper {
  display: block;
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 120px;
}

.header {
  display: block;
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: 10;
  width: 100%;
  max-width: 500px;
  transform: translateX(-50%);
}
.header .header-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  height: 60px;
  border-radius: 2px 2px 0 0;
}

.list-type01 {
  display: block;
}
.list-type01 > .list {
  display: flex;
}
.list-type01 > .list > .item {
  display: block;
}
.list-type01 > .list > .item + .item {
  margin-left: 62px;
}
.list-type01 > .list > .item.active {
  color: #000;
}
.list-type01 > .list > .item .item-cont {
  display: block;
}
.list-type01 > .list > .item .item-cont [class*=fa] {
  font-size: 20px;
}
.list-type01 > .list > .item * {
  color: inherit;
}
.list-type01 > .list.scrll_wrap > .item + .item {
  margin-left: 20px;
}
.list-type01 > .list.scrll_wrap > .item .item-cont {
  white-space: nowrap;
}
.list-type01.round > .list .item {
  background-color: #000;
  border-radius: 100px;
}
.list-type01.round > .list .item .item-cont {
  padding: 4px 12px;
}
.list-type01.round > .list .item.active {
  color: #fff;
}

.list-type02 {
  display: block;
  padding: 0 20px;
}
.list-type02 > .list {
  display: block;
}
.list-type02 > .list > .item {
  display: block;
  width: 100%;
  border-radius: 20px;
  background-color: #fff;
}
.list-type02 > .list > .item + .item {
  margin-top: 24px;
}
.list-type02 > .list > .item > .item-cont {
  display: block;
  height: 100%;
  padding: 18px;
}
.list-type02 > .list > .item > .item-cont > [class*=fa] {
  font-size: 20px;
}
.list-type02 > .list > .item > .item-cont > *:not(.btn-text) {
  color: inherit;
}
.list-type02 > .list > .item .btn-wrap {
  padding: 0 18px;
}
.list-type02 > .list.scrll_wrap > .item + .item {
  margin-left: 32px;
}
.list-type02 > .list.scrll_wrap > .item .item-cont {
  white-space: nowrap;
}
.list-type02 .img_wrap {
  background-color: red;
  border-radius: 14px;
  overflow: hidden;
}
.list-type02 .txt_area {
  margin-top: 14px;
}

.list-type03 {
  display: block;
}
.list-type03 > .list {
  display: flex;
}
.list-type03 > .list > .item {
  display: block;
}
.list-type03 > .list > .item .item-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 6px 8px;
  font-size: 12px;
  background-color: #fff;
  border-radius: 100px;
}
.list-type03 > .list > .item .item-cont > * {
  font-size: inherit;
}
.list-type03 > .list > .item + .item {
  margin-left: 8px;
}

.top-list-wrap {
  margin-bottom: 12px;
  position: sticky;
  top: 0;
  left: 0;
  padding: 20px;
}
.top-list-wrap .list .item {
  color: #ccc;
}
.top-list-wrap .list .item .item-cont {
  display: flex;
  align-items: center;
}
.top-list-wrap .list .item .item-cont [class*=fa] {
  font-size: 14px;
  margin-right: 6px;
}

.qBox {
  display: block;
  position: relative;
  margin-bottom: 24px;
  font-size: 18px;
}

.answerBox {
  display: flex;
  flex-direction: column;
  position: relative;
}
.answerBox .answerList {
  display: block;
  position: relative;
  padding: 14px 24px;
  border-radius: 12px;
  border: 1px solid #000;
  background-color: #fff;
  text-align: left;
  margin-bottom: 16px;
}

.status {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: transparent;
}
.status .statusBar {
  display: block;
  height: 100%;
  position: relative;
  background-color: #000;
  transition: 0.2s;
}

/* Component */
.btn-wrap {
  display: block;
  width: 100%;
  max-width: 500px;
}
.btn-wrap .btn-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.btn-wrap .btn-row > .btn {
  display: block;
  flex: 1;
}

.btn {
  padding: 16px;
  border-radius: 8px;
  background-color: #000;
}
.btn > .btn-text {
  display: block;
  color: #fff;
}

.test-area {
  padding: 20px;
}
.test-area .list-type02 {
  padding: 0;
  padding-top: 40px;
}
.test-area .list-type02 > .list > .item {
  padding-bottom: 20px;
}

.no-data-wrap {
  display: block;
  padding: 20px;
}
.no-data-wrap .no-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
  padding-top: 240px;
  background-image: url("/img/rabbit.png");
  background-size: 100px;
  background-position: center 130px;
  background-repeat: no-repeat;
}
.no-data-wrap .no-data .txt_01 {
  font-size: 18px;
}
.no-data-wrap .no-data .txt_02 {
  font-size: 16px;
  font-weight: normal;
}
.no-data-wrap .no-data [class*=txt_] {
  margin-top: 8px;
}

.top-list-wrap + * {
  padding-top: 0;
  margin-top: 0;
}

.txt_area .tit {
  font-size: 18px;
}
.txt_area .desc {
  margin-top: 4px;
  font-size: 16px;
  font-weight: normal;
}

.inp-area {
  display: none;
}
.inp-area .btn-wrap {
  margin-top: 18px;
}

#main.inp_time .de-area {
  display: none;
}
#main.inp_time .inp-area {
  display: block;
}

.lbe {
  font-size: 18px;
}

.inp01 {
  display: block;
  width: 100%;
  border: 1px solid #fff;
  background-color: #fff;
  padding: 12px 14px;
  border-radius: 8px;
  margin-top: 12px;
}

#resultImg {
  position: relative;
}
#resultImg > .name {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
