/* 
--------------------------------------------- 
아작스, 적응형
---------------------------------------------
*/

/* reset */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    padding:0;
    margin:0;
    color:black;
    list-style:none;
    text-decoration:none;
    box-sizing:border-box;
    border:0;
    background-color:transparent;
    font-size:16px;
    font-weight:600;
    font-family: 'Noto Sans KR', sans-serif;
    word-break: break-all;
}

body {
    background-color: #e4e4e4;
}

button {
    cursor: pointer;
}

img {
    display: block;
    width: 100%;
}

.clr-white {
    color: #fff!important;
}

.scrll_wrap {
    overflow-y: auto;
}

.img_wrap {
    display: block;
    width: 100%;
    position: relative;

    .list-type03 {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.test-tit {
    padding-top: 40px;
    font-size: 24px;
    text-align: center;
    // font-family: 'S-CoreDream-3Light';
}

/* Content Style */
#qna {
    display:none;
}

#result {
    display:none;
}

@keyframes fadeIn {
    from {
        opacity:0;
    }

    to {
        opacity:1;
    }
}

@keyframes fadeOut {
    from {
        opacity:1;
    }

    to {
        opacity:0;
    }
}

.all-wrapper {
    display: block;
    position: relative;
    width: 100%;
    // background: #ddd;
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 120px;
}

.header {
    display: block;
    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: 10;
    width: 100%;
    max-width: 500px;
    transform: translateX(-50%);
    
    .header-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000;
        height: 60px;
        border-radius: 2px 2px 0 0;
    }
}

.list-type01 {
    display: block;

    > .list {
        display: flex;

        > .item {
            display: block;

            + .item {
                margin-left: 62px;
            }

            &.active {
                color: #000;
            }

            .item-cont {
                display: block;

                [class*="fa"] {
                    font-size: 20px;
                }
            }

            * {
                color: inherit;
            }
        }

        &.scrll_wrap {
            > .item {
                + .item {
                    margin-left: 20px;
                }
                .item-cont {
                    white-space: nowrap;
                }
            }
        }
    }

    &.round {
        > .list {
            .item {
                background-color: #000;
                border-radius: 100px;

                .item-cont {
                    padding: 4px 12px;
                }

                &.active {
                    color: #fff;
                }
            }
        }
    }
}

.list-type02 {
    display: block;
    padding: 0 20px;

    > .list {
        display: block;

        > .item {
            display: block;
            width: 100%;
            border-radius: 20px;
            // border: 2px solid #000;
            // box-shadow: 3px 5px 0px 0px #000;
            background-color: #fff;

            + .item {
                margin-top: 24px;
            }

            > .item-cont {
                display: block;
                height: 100%;
                padding: 18px;
                
                > [class*="fa"] {
                    font-size: 20px;
                }

                > *:not(.btn-text) {
                    color: inherit;
                }
            }

            .btn-wrap {
                padding: 0 18px;
            }
        }

        &.scrll_wrap {
            > .item {
                + .item {
                    margin-left: 32px;
                }
                .item-cont {
                    white-space: nowrap;
                }
            }
        }
    }

    .img_wrap {
        background-color: red;
        border-radius: 14px;
        overflow: hidden;
    }

    .txt_area {
        margin-top: 14px;
    }
}

.list-type03 {
    display: block;

    > .list {
        display: flex;

        > .item {
            display: block;

            .item-cont {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                padding: 6px 8px;
                font-size: 12px;
                background-color: #fff;
                border-radius: 100px;

                > * {
                    font-size: inherit;
                }
            }

            + .item {
                margin-left: 8px;
            }
        }
    }
}

.top-list-wrap {
    margin-bottom: 12px;
    position: sticky;
    top: 0;
    left: 0;
    padding: 20px;

    .list {
        .item {
            color: #ccc;

            .item-cont {
                display: flex;
                align-items: center;

                [class*="fa"] {
                    font-size: 14px;
                    margin-right: 6px;
                }
            }
        }
    }
}

.qBox {
    display:block;
    position:relative;
    margin-bottom:24px;
    font-size:18px;
}

.answerBox {
    display:flex;
    flex-direction:column;
    position:relative;

    .answerList {
        display:block;
        position:relative;
        padding:14px 24px;
        border-radius:12px;
        border:1px solid #000;
        background-color:#fff;
        text-align:left;
        margin-bottom:16px;
    }
}

.status {
    display:block;
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height:5px;
    background-color:transparent;

    .statusBar {
        display:block;
        height:100%;
        position:relative;
        background-color: #000;
        transition:0.2s;
    }
}

/* Component */
.btn-wrap {
    display: block;
    width: 100%;
    max-width:500px;
    // padding: 16px;
    // box-shadow: 0px 0px 26px 12px #fff;
    // background-color:#fff;

    .btn-row {
        display:flex;
        flex-direction:row;
        align-items:center;
        position:relative;

        > .btn {
            display:block;
            flex:1;
        }
    }
}

.btn {
    padding:16px;
    border-radius:8px;
    background-color:#000;

    > .btn-text {
        display:block;
        color:#fff;
    }
}

.test-area {
    padding: 20px;
    // background: linear-gradient(180deg, rgb(186, 63, 51) 12%, rgb(184, 90, 46) 20%, rgb(188, 102, 54) 31%, rgba(188, 102, 54, 0) 90%);;

    .list-type02 {
        padding: 0;
        padding-top: 40px;

        > .list {
            > .item {
                padding-bottom: 20px;
            }
        }
    }
}

.no-data-wrap {
    display: block;
    padding: 20px;

    .no-data {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        position: relative;
        padding-top: 240px;
        background-image: url('/img/rabbit.png');
        background-size: 100px;
        background-position: center 130px;
        background-repeat: no-repeat;
    
        .txt_01 {
            font-size: 18px;
        }
    
        .txt_02 {
            font-size: 16px;
            font-weight: normal;
        }
    
        [class*="txt_"] {
            margin-top: 8px;
        }
    }
}

.top-list-wrap {
    + *  {
        padding-top: 0;
        margin-top: 0;
    }
}

.txt_area {
    .tit {
        font-size: 18px;
    }

    .desc {
        margin-top: 4px;
        font-size: 16px;
        font-weight: normal;
    }
}

.inp-area {
    display: none;

    .btn-wrap {
        margin-top: 18px;
    }
}

#main.inp_time {
    .de-area {
        display: none;
    }

    .inp-area {
        display: block;
    }
}

.lbe {
    font-size: 18px;
}

.inp01 {
    display: block;
    width: 100%;
    border: 1px solid #fff;
    background-color: #fff;
    padding: 12px 14px;
    border-radius: 8px;
    margin-top: 12px;
}

#resultImg {
    position: relative;

    > .name {
        position: absolute;
        bottom: 41px;
        left: 50%;
        transform: translate(-50%);
        color: #fff;
    }
}
